:root{
    --blanco: #FFFFFF;
    --negro:#000000;
    --bordo: #460707;
    --gris: #757575; 
    --rojo: #FF0000;
}

html { 
    font-size: 62,5%;
}

.boton{
    background-color: #460707;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}