body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.act-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.act-preview:hover{
  box-shadow: 1px 3px 5px #000000;
}

.act-preview h2{
  font-size: 20px;
  color: #980000;
  margin-bottom: 8px;
}


.Crear {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.Crear label {
  text-align: left;
  display: block;
}
.Crear h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.Crear input, .Crear textarea, .Crear select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.Crear button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.act-preview{
 text-decoration: none;  
}

.Act-Detail h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.Act-Detail div {
  margin: 20px 0;
}
.Act-Detail button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

